


pyttsx3
SpeechRecognition
pypiwin32
pydub

pyttsx3

speechrecognition
pyaudio

pyttsx3
speechrecognition
pyaudio



Flask==2.3.3
transformers==4.30.0
torch==2.0.1

flask==2.3.3
flask-cors

